.total-info {
    -webkit-animation: fadeEffect .3s;
    animation: fadeEffect .3s;
    padding-top: 15px !important;
    padding-bottom: 15px;
}

.to-cart-button {
    color: #fff !important;
    margin-top: 5px;
    padding-top: 15px !important;
    padding-bottom: 20px !important;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.to-cart-button:hover {
    color: #7f7f7f !important;
}

.total-price {
    padding-top: 10px !important;
}

.total-count {
    padding-top: 10px !important;
}